
h1,h2,h3,h4,h5,h6 {
  font-family: 'Asul', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
body {
  overflow-y: scroll;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.container {
  width: 1080px;
  margin: auto;
  box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
